.toaster {
  position: fixed;
  display: table;
  width: 200px;
  height: auto;
  z-index: 400;
  background: #626262;
}
.toaster .toaster-title {
  display: block;
  line-height: 1.2em;
  font-size: 1.4em;
  font-weight: 700;
  padding: 10px;
  padding-top: 5px;
  color: #fff;
}
.toaster .toaster-content {
  display: block;
  vertical-align: middle;
  line-height: 1.3em;
  font-size: 1.2em;
  font-weight: 400;
  padding: 10px;
  color: #fff;
  clear: both;
  float: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.toaster .toaster-close {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  padding: 0;
  float: right;
  color: #fff;
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}
.toaster.bottom-left {
  bottom: 20%;
  left: 20px;
}
.toaster.bottom-right {
  bottom: 20%;
  right: 20px;
}
.toaster.top-left {
  top: 20%;
  left: 20px;
}
.toaster.top-right {
  top: 20%;
  right: 20px;
}
